
<div class="about-section paddingTB60 gray-bg">
  <div class="container">
      <div class="row">
<div class="col-md-7 col-sm-6">
<div class="about-title clearfix">
  <h1>About <span>Product Inventory Management</span></h1>
  <h3>An Experience to manage prducts</h3>
  <p class="about-paddingB">This complete webapplication is a journey to handle the products in as better way as possible. Giving Admins and sellers a full fledged access to work with
    desire to manage products.
  </p>



<h2>Our Most Viewed Products</h2>
<form (ngSubmit)="getProducts()">
  <div class="form-group">
    <label >Number of Products:</label>
<select name="prod" id="prod" [(ngModel)]="top" (click)="getProducts();">
  <option value=3>3</option>
  <option value=4>4</option>
  <option value=5>5</option>
  <option value=6>6</option>
  <option value=7>7</option>
  <option value=8>8</option>
  <option value=9>9</option>
  <option value=10>10</option>
</select>

</div>
<!-- <button type="submit" class="txt2 btn btn-primary">Get Top Viewed Products</button> -->
</form>

<h3>Top {{top}} Viewed Produts and there number of views:</h3>

  <div>
    <div style="display: block" *ngIf="barChartData">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
  </div>







  <div class="about-icons"> 
              <ul >
                  <li><a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
                  <li><a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> </li>
                  <li> <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a> </li>
                  <li> <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> </li>
              </ul>       
 
 



</div>
</div>
</div>
<div class="col-md-5 col-sm-6">
<!-- <div class="about-img">
  <img src="https://i.pinimg.com/736x/1d/1e/10/1d1e10ce7ee27bb6dfd950941f0dcba1.jpg" alt="">
</div> -->
</div>	
      </div>
  </div>
</div>

<!--******************************************************************8--->
<!-- <div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
  </div> -->